<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" />
    <script type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js">

    </script>
    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />*@



    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <header>
        <nav class="menu">
            <ul>
                <li>@Html.ActionLink("PRINCIPAL", "Principal", "Home")</li>
                <li>@Html.ActionLink("NOSOTROS", "About", "Home")</li>
                <li> @Html.ActionLink("CONTACTO", "Contact", "Home")</li>
                <li> @Html.ActionLink("MIS MASCOTAS", "MascotasClientes", "Mascota")</li>
                <li> @Html.ActionLink("TIENDA", "carritoCompras", "Tienda")</li>
                <li> @Html.ActionLink("TRACKING - PEDIDO", "ListadoPedidos", "Pedido")</li>

                <li style="margin-left:500px;color:white">@ViewBag.Message</li>
                <li>@Html.ActionLink("CERRAR SESION", "Login", "Acceso")</li>

            </ul>
        </nav>
    </header>



    <figure style="margin-bottom: 20px;">
        <img id="banner" src="~/Imagenes/banner.jpg" height="300" />

    </figure>



    @RenderBody()
    <footer>
        <h6>Todos los derechos reservados</h6>
    </footer>

    @*<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js">
    </script>*@

</body>
</html>
