@model IEnumerable<Proyecto_Integrador.Model.Pedido>

@{
    ViewBag.Title = "ListadodePedidosDetalle";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2 style="color:Highlight;margin-top:-20px">Listado de Pedidos Detalle</h2>

<table class="table" style="width: 98%; background-color: white; width: 98%; margin-left: -1px; ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechapedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.monto)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tracking)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.foto)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechapedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.monto)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.cliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tracking)
                </td>*@
            <td>
                <img class="foto" src="@Url.Content(item.foto)" width="30" />
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Regresar", "ListadodePedidos", null, new { @class = "btn btn-primary" })
</div>
<script>
    if ("@ViewBag.Error" != "")
            swal("@ViewBag.Error", "Para Continuar presione el Boton", "error");

        if ("@ViewBag.Success" != "")
            swal("@ViewBag.Success", "Para Continuar presione el Boton", "success");

        if ("@ViewBag.Info" != "")
            swal("@ViewBag.Info", "Para Continuar presione el Boton", "info");

</script>
